<footer id="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 footer-contact">
          <h3>GoJo Afalagi</h3>
          <p>
            Catholic <br>
            Bahirdar, Kebele 13<br>
            Ethiopia <br>
            <strong>Phone:</strong> +251975325354<br>
            <strong>Email:</strong> ezkielmisgae@gmail.com
          </p>
        </div>
        <div class="col-lg-2 col-md-6 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a href="">Home</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="">Rentals</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="{% url 'about' %}">About Gojo-Afalagi</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="{% url 'aboutme' %}">About Programmar</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="{% url 'profile' %}">Profile</a></li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Our Services</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a href="{% url 'apartment' %}">Apartment Rental</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="{% url 'compound' %}">Compound Rental</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="{% url 'condominium' %}">Condominium Rental</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="{% url 'room' %}">Room Rental</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="{% url 'luxurious' %}">Luxury Rental</a></li>
          </ul>
        </div>
        <div class="col-lg-4 col-md-6 footer-newsletter">
          <h4>Special Thank</h4>
          <p>For the whole AlX and Holberton team for creating this course for free.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="me-md-auto text-center text-md-start">
    <div class="copyright">
      &copy; Copyright <strong><span>Gojo Afalagi</span></strong>. All Rights Reserved
    </div>
    <div class="credits">Designed by <a href="https://ezekielmisgae.tech/">Ezekiel Alene</a></div>
  </div>
</footer>