<footer id="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 footer-contact">
          <h3 style="font-size: large;">GoJo Afalagi</h3>
          <p>
            Catholic, Kebele 13 <br>
            Bahirdar, Ethiopia <br>
            <strong>Phone:</strong> +251975325354<br>
            <strong>Email:</strong> ezkielmisgae@gmail.com
          </p>
        </div>
        <div class="col-lg-3 col-md-6 footer-contact">
          <h3 style="font-size: large;">Useful Links</h3>
          <p>
            <a href="/">Home</a><br>
            <a href="/">About</a> <br>
            <a href="/">Profile</a><br>
            <a href="/">Rentals</a><br>
          </p>
        </div>
        <div class="col-lg-3 col-md-6 footer-contact">
          <h3 style="font-size: large;">Our Services</h3>
          <p>
            <a href="/">Room</a><br>
            <a href="/">Apartment</a><br>
            <a href="/">Compound</a><br>
            <a href="/">Condominium</a><br>
          </p>
        </div>
        <div class="col-lg-3 col-md-6 footer-contact">
          <h3 style="font-size: large;">Special Thank</h3>
          <p>For the whole AlX and Holberton team for creating this course for free.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="me-md-auto text-center text-md-start">
    <div class="copyright">
      &copy; Copyright <strong><span>Gojo Afalagi</span></strong>. All Rights Reserved
    </div>
    <div class="credits">Designed by <a href="https://ezekielmisgae.tech/">Ezekiel Alene</a></div>
  </div>
</footer>