<html lang="en">
<%- include("./partials/head.ejs") %>

  <body>
    <%- include("./partials/nav.ejs") %>
      <div class="container mt-5">
        <div class="row justify-content-center">
          <div class="col-md-6">
            <h1 class="text-center mb-4">Login Page</h1>
            <form>
              <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control" id="username" required>
              </div>
              <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" required>
              </div>
              <button type="submit" class="btn btn-primary">Login</button>
            </form>
            <div class="text-center mt-3">
              <a href="/register">Don't have an account? Register</a>
            </div>
            <div class="alert alert-danger mt-3 d-none" role="alert"></div>
          </div>
        </div>
      </div>

      <!-- Bootstrap JS -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.0/js/bootstrap.min.js"
        integrity="sha512-JA2LrzVL1cMct8sA95I/i26hvKjEidGmJup3qZr9XZI2QlKcYgG6QnUa1zU6NE/TK6/ToU8I/NZVDXvN6ATDAA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
      <script>
        const form = document.querySelector('form');
        const username = document.querySelector('#username');
        const password = document.querySelector('#password');
        const display = document.querySelector('.alert');

        form.addEventListener('submit', async (e) => {
          e.preventDefault();
          display.classList.add('d-none');
          try {
            const res = await fetch('/api/auth/login', {
              method: 'POST',
              body: JSON.stringify({ username: username.value, password: password.value }),
              headers: { 'Content-Type': 'application/json' }
            });
            const data = await res.json();
            if (res.status === 400 || res.status === 401) {
              display.textContent = `${data.message}. ${data.error ? data.error : ''}`;
              display.classList.remove('d-none');
            }
            data.role === "admin" ? location.assign('/admin') : location.assign('/basic');
          } catch (err) {
            console.log(err.message);
          }
        });
      </script>
      <%- include("./partials/footer.ejs") %>
  </body>

</html>